# Identifying Ethnicity in OpenSAFELY-TPP
This short report describes how ethnicity can be identified in the OpenSAFELY-TPP database, and the strengths and weaknesses of the methods. Ethnicity is known to be an important determinant of health outcomes, particularly during the COVID-19 outbreak where a complex interplay of social and biological factors resulted in increased exposure, reduced protection, and increased severity of illness. The recording of patients’ ethnic group in primary care can support efforts to achieve equity in service provision and outcomes. This is a living document that will be updated to reflect changes to the OpenSAFELY-TPP database and the patient records within.

## OpenSAFELY
OpenSAFELY is an analytics platform for conducting analyses on Electronic Health Records inside the secure environment where the records are held. This has multiple benefits: 

* We don't transport large volumes of potentially disclosive pseudonymised patient data outside of the secure environments for analysis
* Analyses can run in near real-time as records are ready for analysis as soon as they appear in the secure environment
* All infrastructure and analysis code is stored in GitHub repositories, which are open for security review, scientific review, and re-use

A key feature of OpenSAFELY is the use of study definitions, which are formal specifications of the datasets to be generated from the OpenSAFELY database. This takes care of much of the complex EHR data wrangling required to create a dataset in an analysis-ready format. It also creates a library of standardised and validated variable definitions that can be deployed consistently across multiple projects. 

The purpose of this report is to describe the main variables that relate ethnicity, and their relative strengths and weaknesses.

## Available Records
OpenSAFELY-TPP runs inside TPP’s data centre which contains the primary care records for all patients registered at practices using TPP’s SystmOne Clinical Information System. This data centre also imports external datasets from other sources, including A&E attendances and hospital admissions from NHS Digital’s Secondary Use Service, and death registrations from the ONS. More information on available data sources can be found within the [OpenSAFELY documentation](https://docs.opensafely.org/data-sources/intro/).

#Methods

In OpenSAFELY-TPP, there is no categorical “ethnicity” variable to record this information. Rather, ethnicity is recorded using clinical codes, like any other clinical or administrative event, with specific codes relating to specific ethnic groups

We define three codelists to capture primary care ethnicity in OpenSAFELY-TPP : "[2020-CTV3](https://www.opencodelists.org/codelist/opensafely/ethnicity/2020-04-27)", "[2022-SNOMED](https://www.opencodelists.org/codelist/opensafely/ethnicity-snomed-0removed/2e641f61/)" and "[2021-PRIMIS](https://www.opencodelists.org/codelist/primis-covid19-vacc-uptake/eth2001/v1/)".


To evaluate how well each of these codelists are populated, we count the number of patients with at least one instance each codelist, as well as the grouping of the ethncitity themselves.

We examine trends across the whole population and by each of the following demographic and clinical subgroups to detect any inequalities.

Demographic covariates:

Age band
Sex
Ethnicity
Region
IMD
Clinical covariates:

Dementia
Diabetes
Learning disability

Any counts below 6 were redacted, and all other values were rounded to the nearest 5.

In [34]:
import sys

In [26]:
import os
import pandas as pd
import numpy as np
from itertools import product
from IPython.display import display, Markdown, Image

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)
pd.options.mode.chained_assignment = None 
pd.options.display.float_format = '{:,.0f}'.format

In [27]:

def local_patient_counts(
    definitions, output_path, code_dict="", categories=False, missing=False,
):
    import pandas as pd

    suffix = "_filled"
    overlap = "all_filled"
    if missing == True:
        suffix = "_missing"
        overlap = "all_missing"
    if categories:
        df_population = pd.read_csv(
            f"../output/{output_path}/simple_patient_counts_fullset.csv"
        ).set_index(["group", "subgroup"])
        

        df_append = pd.read_csv(
            f"../output/{output_path}/simple_patient_counts_categories_fullset.csv"
        ).set_index(["group", "subgroup"])
        df_append.drop("population", inplace=True, axis=1)
        df_append["population"] = df_population["ethnicity_new_5_filled"]
        # ensure definitions[n] in code_dict[definitions[n]] below refers to one of the definitions of interest
        definitions = [
            f"{category}_{definition}"
            for category, definition in product(
                code_dict[definitions[1]].values(), definitions
            )
        ]

    else:
        df_append = pd.read_csv(
            f"../output/{output_path}/simple_patient_counts_fullset.csv"
        ).set_index(["group", "subgroup"])

    for definition in definitions:
        if missing:
            df_append[definition + suffix] = (
                df_append["population"] - df_append[definition + "_filled"]
            )    
        df_append[definition + "_pct"] = round(
            (df_append[definition + suffix].div(df_append["population"])) * 100, 1
        )
        df_append[overlap + "_pct"] = round(
            (df_append[overlap].div(df_append["population"])) * 100, 1
        )

        # Combine count and percentage columns
        df_append[definition] = (
            df_append[definition + suffix].apply(lambda x: "{:,.0f}".format(x))
            + " ("
            + df_append[definition + "_pct"].astype(str)
            + ")"
        )
        df_append = df_append.drop(columns=[definition + suffix, definition + "_pct"])
    df_append[overlap] = (
        df_append[overlap].apply(lambda x: "{:,.0f}".format(x))
        + " ("
        + df_append[overlap + "_pct"].astype(str)
        + ")"
    )
    df_append = df_append.drop(columns=[overlap + "_pct"])
    df_patient_counts = df_append[definitions + [overlap] + ["population"]]
    # Final redaction step
    df_patient_counts = df_patient_counts.replace(np.nan, "-")
    df_patient_counts = df_patient_counts.replace("nan (nan)", "- (-)")
    df_patient_counts.columns = df_patient_counts.columns.str.replace("_", " ")
    
    display(df_patient_counts)
    if categories:
        df_patient_counts.to_csv(
                f"../output/{output_path}/local_patient_counts_categories_fullset.csv"
            )

In [28]:
### CONFIGURE ###
definitions = ['ethnicity_5', 'ethnicity_new_5', 'ethnicity_primis_5']
covariates = ['_age_band','_sex','_region','_imd','_dementia','_diabetes','_hypertension','_learning_disability']
output_path = 'from_jobserver/release_2022_07_28/output/simplified_output/5_group/tables'
suffixes = ['','_missing']

code_dict = {
    "imd": {
        0: "Unknown",
        1: "1 Most deprived",
        2: "2",
        3: "3",
        4: "4",
        5: "5 Least deprived",
    },
    "ethnicity_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
    "ethnicity_new_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
    "ethnicity_primis_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
}

## Results

### Count of Patients

Around 14.8 million patients who have been registered in OpenSAFELY-TPP have each have all three codelists. 2020-CTV3 is the most well-populated with 19 million patients having at least one 2020-CTV3 recording of ethnicity.

In [29]:
local_patient_counts(
         definitions,  output_path
    )

                                                    ethnicity 5  \
group               subgroup
all                 with records              24,817,085 (75.2)
age_band            0-19                       4,006,955 (63.0)
                    20-29                      3,065,155 (72.7)
                    30-39                      4,014,055 (81.8)
                    40-49                      3,282,495 (82.0)
                    50-59                      3,215,505 (80.3)
                    60-69                      2,617,490 (80.4)
                    70-79                      2,258,985 (79.7)
                    80+                        2,329,560 (69.3)
                    missing                       26,885 (31.5)
sex                 F                         12,741,390 (76.8)
                    M                         12,075,695 (73.5)
region              East                       4,378,705 (76.1)
                    East Midlands              3,301,345 (77.2)
                    London                     1,445,455 (80.5)
                    North East                   901,895 (76.8)
                    North West                 1,651,170 (76.8)
                    South East                 1,232,315 (75.0)
                    South West                 2,529,865 (74.3)
                    West Midlands                819,650 (81.1)
                    Yorkshire and The Humber   2,715,235 (76.3)
imd                 1 Most deprived            4,988,090 (76.7)
                    2                          4,941,775 (76.2)
                    3                          5,105,055 (75.8)
                    4                          4,777,850 (74.8)
                    5 Least deprived           4,181,455 (73.7)
                    Unknown                      822,855 (66.7)
dementia            False                     24,675,140 (75.2)
                    True                         141,945 (73.3)
diabetes            False                     22,181,755 (74.5)
                    True                       2,635,330 (81.2)
hypertension        False                     23,192,570 (74.6)
                    True                       1,624,515 (83.8)
learning_disability False                     24,673,020 (75.1)
                    True                         144,065 (81.9)

                                                ethnicity new 5  \
group               subgroup
all                 with records              24,762,715 (75.0)
age_band            0-19                       3,993,025 (62.8)
                    20-29                      3,056,200 (72.5)
                    30-39                      4,002,260 (81.6)
                    40-49                      3,273,850 (81.8)
                    50-59                      3,210,730 (80.2)
                    60-69                      2,614,625 (80.3)
                    70-79                      2,257,210 (79.6)
                    80+                        2,328,110 (69.3)
                    missing                       26,710 (31.3)
sex                 F                         12,715,185 (76.6)
                    M                         12,047,530 (73.3)
region              East                       4,368,735 (75.9)
                    East Midlands              3,295,160 (77.0)
                    London                     1,440,175 (80.3)
                    North East                   900,925 (76.7)
                    North West                 1,648,400 (76.7)
                    South East                 1,229,985 (74.8)
                    South West                 2,526,855 (74.2)
                    West Midlands                817,725 (80.9)
                    Yorkshire and The Humber   2,711,575 (76.2)
imd                 1 Most deprived            4,971,510 (76.5)
                    2                          4,930,175 (76.0)
                    3                          5,095,960 (75.7)
                    4                          4,770,120 (74.7)
                    5 Least deprived           4,175,010 (73.6)
                    Unknown                      819,945 (66.5)
dementia            False                     24,620,865 (75.0)
                    True                         141,850 (73.2)
diabetes            False                     22,130,605 (74.3)
                    True                       2,632,110 (81.1)
hypertension        False                     23,139,445 (74.5)
                    True                       1,623,270 (83.7)
learning_disability False                     24,618,800 (75.0)
                    True                         143,915 (81.8)

                                             ethnicity primis 5  \
group               subgroup
all                 with records              19,352,090 (58.6)
age_band            0-19                       3,025,820 (47.6)
                    20-29                      2,439,855 (57.9)
                    30-39                      3,222,795 (65.7)
                    40-49                      2,607,295 (65.1)
                    50-59                      2,527,070 (63.1)
                    60-69                      2,043,475 (62.8)
                    70-79                      1,747,990 (61.7)
                    80+                        1,723,985 (51.3)
                    missing                       13,805 (16.2)
sex                 F                         10,000,400 (60.3)
                    M                          9,351,690 (56.9)
region              East                       3,392,165 (59.0)
                    East Midlands              2,530,460 (59.2)
                    London                     1,266,900 (70.6)
                    North East                   746,860 (63.6)
                    North West                 1,208,400 (56.2)
                    South East                   943,400 (57.4)
                    South West                 1,901,550 (55.9)
                    West Midlands                618,575 (61.2)
                    Yorkshire and The Humber   2,180,365 (61.3)
imd                 1 Most deprived            3,942,275 (60.6)
                    2                          3,900,535 (60.1)
                    3                          3,983,065 (59.1)
                    4                          3,703,005 (58.0)
                    5 Least deprived           3,192,705 (56.3)
                    Unknown                      630,505 (51.1)
dementia            False                     19,244,155 (58.6)
                    True                         107,935 (55.7)
diabetes            False                     17,277,855 (58.0)
                    True                       2,074,240 (63.9)
hypertension        False                     18,089,010 (58.2)
                    True                       1,263,080 (65.2)
learning_disability False                     19,235,195 (58.6)
                    True                         116,895 (66.5)

                                                     all filled  population
group               subgroup
all                 with records              19,352,090 (58.6)  33,018,910
age_band            0-19                       3,025,820 (47.6)   6,356,925
                    20-29                      2,439,855 (57.9)   4,214,945
                    30-39                      3,222,795 (65.7)   4,905,765
                    40-49                      2,607,295 (65.1)   4,003,700
                    50-59                      2,527,070 (63.1)   4,003,210
                    60-69                      2,043,475 (62.8)   3,254,410
                    70-79                      1,747,990 (61.7)   2,834,130
                    80+                        1,723,985 (51.3)   3,360,495
                    missing                       13,805 (16.2)      85,330
sex                 F                         10,000,400 (60.3)  16,593,500
                    M                          9,351,690 (56.9)  16,425,410
region              East                       3,392,165 (59.0)   5,753,400
                    East Midlands              2,530,460 (59.2)   4,277,645
                    London                     1,266,900 (70.6)   1,794,570
                    North East                   746,860 (63.6)   1,174,105
                    North West                 1,208,400 (56.2)   2,148,745
                    South East                   943,400 (57.4)   1,643,985
                    South West                 1,901,550 (55.9)   3,403,850
                    West Midlands                618,575 (61.2)   1,011,065
                    Yorkshire and The Humber   2,180,365 (61.3)   3,556,670
imd                 1 Most deprived            3,942,275 (60.6)   6,501,085
                    2                          3,900,535 (60.1)   6,486,975
                    3                          3,983,065 (59.1)   6,734,750
                    4                          3,703,005 (58.0)   6,388,005
                    5 Least deprived           3,192,705 (56.3)   5,674,780
                    Unknown                      630,505 (51.1)   1,233,320
dementia            False                     19,244,155 (58.6)  32,825,185
                    True                         107,935 (55.7)     193,725
diabetes            False                     17,277,855 (58.0)  29,775,010
                    True                       2,074,240 (63.9)   3,243,905
hypertension        False                     18,089,010 (58.2)  31,080,505
                    True                       1,263,080 (65.2)   1,938,410
learning_disability False                     19,235,195 (58.6)  32,843,040
                    True                         116,895 (66.5)     175,875

### Count of Missings

Around 5.8 million patients who have been registered in OpenSAFELY-TPP have no recorded etnicity across all three codelists. 2021-PRIMIS is the least well-populated with around 10 million patients having no 2021-PRIMIS recording of ethnicity.

In [30]:
local_patient_counts(
         definitions,  output_path, missing= True
    )

                                                   ethnicity 5  \
group               subgroup
all                 with records              8,201,825 (24.8)
age_band            0-19                      2,349,970 (37.0)
                    20-29                     1,149,790 (27.3)
                    30-39                       891,710 (18.2)
                    40-49                       721,205 (18.0)
                    50-59                       787,705 (19.7)
                    60-69                       636,920 (19.6)
                    70-79                       575,145 (20.3)
                    80+                       1,030,935 (30.7)
                    missing                      58,445 (68.5)
sex                 F                         3,852,110 (23.2)
                    M                         4,349,715 (26.5)
region              East                      1,374,695 (23.9)
                    East Midlands               976,300 (22.8)
                    London                      349,115 (19.5)
                    North East                  272,210 (23.2)
                    North West                  497,575 (23.2)
                    South East                  411,670 (25.0)
                    South West                  873,985 (25.7)
                    West Midlands               191,415 (18.9)
                    Yorkshire and The Humber    841,435 (23.7)
imd                 1 Most deprived           1,512,995 (23.3)
                    2                         1,545,200 (23.8)
                    3                         1,629,695 (24.2)
                    4                         1,610,155 (25.2)
                    5 Least deprived          1,493,325 (26.3)
                    Unknown                     410,465 (33.3)
dementia            False                     8,150,045 (24.8)
                    True                         51,780 (26.7)
diabetes            False                     7,593,255 (25.5)
                    True                        608,575 (18.8)
hypertension        False                     7,887,935 (25.4)
                    True                        313,895 (16.2)
learning_disability False                     8,170,020 (24.9)
                    True                         31,810 (18.1)

                                               ethnicity new 5  \
group               subgroup
all                 with records              8,256,195 (25.0)
age_band            0-19                      2,363,900 (37.2)
                    20-29                     1,158,745 (27.5)
                    30-39                       903,505 (18.4)
                    40-49                       729,850 (18.2)
                    50-59                       792,480 (19.8)
                    60-69                       639,785 (19.7)
                    70-79                       576,920 (20.4)
                    80+                       1,032,385 (30.7)
                    missing                      58,620 (68.7)
sex                 F                         3,878,315 (23.4)
                    M                         4,377,880 (26.7)
region              East                      1,384,665 (24.1)
                    East Midlands               982,485 (23.0)
                    London                      354,395 (19.7)
                    North East                  273,180 (23.3)
                    North West                  500,345 (23.3)
                    South East                  414,000 (25.2)
                    South West                  876,995 (25.8)
                    West Midlands               193,340 (19.1)
                    Yorkshire and The Humber    845,095 (23.8)
imd                 1 Most deprived           1,529,575 (23.5)
                    2                         1,556,800 (24.0)
                    3                         1,638,790 (24.3)
                    4                         1,617,885 (25.3)
                    5 Least deprived          1,499,770 (26.4)
                    Unknown                     413,375 (33.5)
dementia            False                     8,204,320 (25.0)
                    True                         51,875 (26.8)
diabetes            False                     7,644,405 (25.7)
                    True                        611,795 (18.9)
hypertension        False                     7,941,060 (25.5)
                    True                        315,140 (16.3)
learning_disability False                     8,224,240 (25.0)
                    True                         31,960 (18.2)

                                             ethnicity primis 5  \
group               subgroup
all                 with records              13,666,820 (41.4)
age_band            0-19                       3,331,105 (52.4)
                    20-29                      1,775,090 (42.1)
                    30-39                      1,682,970 (34.3)
                    40-49                      1,396,405 (34.9)
                    50-59                      1,476,140 (36.9)
                    60-69                      1,210,935 (37.2)
                    70-79                      1,086,140 (38.3)
                    80+                        1,636,510 (48.7)
                    missing                       71,525 (83.8)
sex                 F                          6,593,100 (39.7)
                    M                          7,073,720 (43.1)
region              East                       2,361,235 (41.0)
                    East Midlands              1,747,185 (40.8)
                    London                       527,670 (29.4)
                    North East                   427,245 (36.4)
                    North West                   940,345 (43.8)
                    South East                   700,585 (42.6)
                    South West                 1,502,300 (44.1)
                    West Midlands                392,490 (38.8)
                    Yorkshire and The Humber   1,376,305 (38.7)
imd                 1 Most deprived            2,558,810 (39.4)
                    2                          2,586,440 (39.9)
                    3                          2,751,685 (40.9)
                    4                          2,685,000 (42.0)
                    5 Least deprived           2,482,075 (43.7)
                    Unknown                      602,815 (48.9)
dementia            False                     13,581,030 (41.4)
                    True                          85,790 (44.3)
diabetes            False                     12,497,155 (42.0)
                    True                       1,169,665 (36.1)
hypertension        False                     12,991,495 (41.8)
                    True                         675,330 (34.8)
learning_disability False                     13,607,845 (41.4)
                    True                          58,980 (33.5)

                                                   all missing  population
group               subgroup
all                 with records              8,201,825 (24.8)  33,018,910
age_band            0-19                      2,349,965 (37.0)   6,356,925
                    20-29                     1,149,785 (27.3)   4,214,945
                    30-39                       891,715 (18.2)   4,905,765
                    40-49                       721,205 (18.0)   4,003,700
                    50-59                       787,705 (19.7)   4,003,210
                    60-69                       636,920 (19.6)   3,254,410
                    70-79                       575,145 (20.3)   2,834,130
                    80+                       1,030,940 (30.7)   3,360,495
                    missing                      58,450 (68.5)      85,330
sex                 F                         3,852,110 (23.2)  16,593,500
                    M                         4,349,715 (26.5)  16,425,410
region              East                      1,374,695 (23.9)   5,753,400
                    East Midlands               976,295 (22.8)   4,277,645
                    London                      349,115 (19.5)   1,794,570
                    North East                  272,210 (23.2)   1,174,105
                    North West                  497,575 (23.2)   2,148,745
                    South East                  411,670 (25.0)   1,643,985
                    South West                  873,985 (25.7)   3,403,850
                    West Midlands               191,415 (18.9)   1,011,065
                    Yorkshire and The Humber    841,435 (23.7)   3,556,670
imd                 1 Most deprived           1,512,995 (23.3)   6,501,085
                    2                         1,545,195 (23.8)   6,486,975
                    3                         1,629,695 (24.2)   6,734,750
                    4                         1,610,150 (25.2)   6,388,005
                    5 Least deprived          1,493,325 (26.3)   5,674,780
                    Unknown                     410,465 (33.3)   1,233,320
dementia            False                     8,150,050 (24.8)  32,825,185
                    True                         51,780 (26.7)     193,725
diabetes            False                     7,593,255 (25.5)  29,775,010
                    True                        608,575 (18.8)   3,243,905
hypertension        False                     7,887,930 (25.4)  31,080,505
                    True                        313,895 (16.2)   1,938,410
learning_disability False                     8,170,015 (24.9)  32,843,040
                    True                         31,810 (18.1)     175,875

### Count by Category

The 2022-SNOMED codelist is most well-populated for White (15.9 million), Mixed(360,000), Asian(1.7 million) and Black (570,000) ethnicities. The 2020-CTV3 codelist classifies more people as other than the SNOMED codelist (550,000 and 470,000 respectively), however, the 2020-CTV3 codelist included codes some relating to religion rather than ethnicity (e.g. “XaJSe: Muslim - ethnic category 2001 census”) which were excluded from the 2022-SNOMED codelist.

In [31]:
local_patient_counts(
         definitions,  output_path,code_dict, categories=True,missing=False
    )

                                              White ethnicity 5  \
group               subgroup
all                 with records              20,501,205 (82.8)
age_band            0-19                       3,070,020 (76.9)
                    20-29                      2,308,045 (75.5)
                    30-39                      3,049,690 (76.2)
                    40-49                      2,541,775 (77.6)
                    50-59                      2,785,445 (86.8)
                    60-69                      2,369,120 (90.6)
                    70-79                      2,132,730 (94.5)
                    80+                        2,223,270 (95.5)
                    missing                       21,110 (79.0)
sex                 F                         10,588,940 (83.3)
                    M                          9,912,265 (82.3)
region              East                       3,748,930 (85.8)
                    East Midlands              2,757,375 (83.7)
                    London                       762,495 (52.9)
                    North East                   799,045 (88.7)
                    North West                 1,527,660 (92.7)
                    South East                 1,094,080 (89.0)
                    South West                 2,367,015 (93.7)
                    West Midlands                528,045 (64.6)
                    Yorkshire and The Humber   2,271,135 (83.8)
imd                 1 Most deprived            3,684,080 (74.1)
                    2                          3,857,340 (78.2)
                    3                          4,319,800 (84.8)
                    4                          4,236,845 (88.8)
                    5 Least deprived           3,798,605 (91.0)
                    Unknown                      604,535 (73.7)
dementia            False                     20,365,485 (82.7)
                    True                         135,720 (95.7)
diabetes            False                     18,363,150 (83.0)
                    True                       2,138,055 (81.2)
hypertension        False                     19,019,450 (82.2)
                    True                       1,481,755 (91.3)
learning_disability False                     20,373,490 (82.8)
                    True                         127,715 (88.7)

                                             White ethnicity new 5  \
group               subgroup
all                 with records                 20,514,355 (82.8)
age_band            0-19                          3,071,530 (76.9)
                    20-29                         2,310,130 (75.6)
                    30-39                         3,054,410 (76.3)
                    40-49                         2,544,920 (77.7)
                    50-59                         2,786,690 (86.8)
                    60-69                         2,369,565 (90.6)
                    70-79                         2,132,735 (94.5)
                    80+                           2,223,270 (95.5)
                    missing                          21,100 (79.0)
sex                 F                            10,595,975 (83.3)
                    M                             9,918,375 (82.3)
region              East                          3,751,915 (85.9)
                    East Midlands                 2,758,360 (83.7)
                    London                          764,615 (53.1)
                    North East                      799,300 (88.7)
                    North West                    1,527,455 (92.7)
                    South East                    1,094,795 (89.0)
                    South West                    2,368,080 (93.7)
                    West Midlands                   528,120 (64.6)
                    Yorkshire and The Humber      2,272,595 (83.8)
imd                 1 Most deprived               3,688,675 (74.2)
                    2                             3,860,700 (78.3)
                    3                             4,322,140 (84.8)
                    4                             4,238,410 (88.9)
                    5 Least deprived              3,799,500 (91.0)
                    Unknown                         604,930 (73.8)
dementia            False                        20,378,625 (82.8)
                    True                            135,730 (95.7)
diabetes            False                        18,375,565 (83.0)
                    True                          2,138,790 (81.3)
hypertension        False                        19,032,265 (82.3)
                    True                          1,482,090 (91.3)
learning_disability False                        20,386,620 (82.8)
                    True                            127,735 (88.8)

                                             White ethnicity primis 5  \
group               subgroup
all                 with records                    15,715,345 (63.5)
age_band            0-19                             2,253,310 (56.4)
                    20-29                            1,799,635 (58.9)
                    30-39                            2,404,230 (60.1)
                    40-49                            1,976,715 (60.4)
                    50-59                            2,161,370 (67.3)
                    60-69                            1,832,900 (70.1)
                    70-79                            1,641,310 (72.7)
                    80+                              1,635,770 (70.3)
                    missing                             10,100 (37.8)
sex                 F                                8,180,235 (64.3)
                    M                                7,535,110 (62.5)
region              East                             2,872,690 (65.8)
                    East Midlands                    2,083,420 (63.2)
                    London                             665,800 (46.2)
                    North East                         655,925 (72.8)
                    North West                       1,111,660 (67.4)
                    South East                         830,190 (67.5)
                    South West                       1,767,450 (69.9)
                    West Midlands                      381,695 (46.7)
                    Yorkshire and The Humber         1,782,270 (65.7)
imd                 1 Most deprived                  2,840,195 (57.1)
                    2                                2,978,690 (60.4)
                    3                                3,316,265 (65.1)
                    4                                3,247,270 (68.1)
                    5 Least deprived                 2,877,360 (68.9)
                    Unknown                            455,560 (55.6)
dementia            False                           15,612,720 (63.4)
                    True                               102,630 (72.4)
diabetes            False                           14,072,650 (63.6)
                    True                             1,642,695 (62.4)
hypertension        False                           14,573,610 (63.0)
                    True                             1,141,735 (70.3)
learning_disability False                           15,612,575 (63.4)
                    True                               102,775 (71.4)

                                             Mixed ethnicity 5  \
group               subgroup
all                 with records                 479,120 (1.9)
age_band            0-19                         161,700 (4.0)
                    20-29                         89,720 (2.9)
                    30-39                         91,930 (2.3)
                    40-49                         61,165 (1.9)
                    50-59                         38,985 (1.2)
                    60-69                         18,950 (0.7)
                    70-79                          8,415 (0.4)
                    80+                            6,865 (0.3)
                    missing                        1,390 (5.2)
sex                 F                            246,850 (1.9)
                    M                            232,270 (1.9)
region              East                          87,470 (2.0)
                    East Midlands                 58,840 (1.8)
                    London                        59,305 (4.1)
                    North East                    13,065 (1.5)
                    North West                    13,870 (0.8)
                    South East                    23,125 (1.9)
                    South West                    31,325 (1.2)
                    West Midlands                 28,400 (3.5)
                    Yorkshire and The Humber      38,545 (1.4)
imd                 1 Most deprived              126,810 (2.6)
                    2                            104,865 (2.1)
                    3                             90,860 (1.8)
                    4                             75,560 (1.6)
                    5 Least deprived              59,385 (1.4)
                    Unknown                       21,635 (2.6)
dementia            False                        478,690 (1.9)
                    True                             430 (0.3)
diabetes            False                        449,935 (2.0)
                    True                          29,185 (1.1)
hypertension        False                        467,885 (2.0)
                    True                          11,235 (0.7)
learning_disability False                        476,860 (1.9)
                    True                           2,260 (1.6)

                                             Mixed ethnicity new 5  \
group               subgroup
all                 with records                     483,350 (2.0)
age_band            0-19                             162,645 (4.1)
                    20-29                             90,590 (3.0)
                    30-39                             93,015 (2.3)
                    40-49                             61,870 (1.9)
                    50-59                             39,380 (1.2)
                    60-69                             19,095 (0.7)
                    70-79                              8,470 (0.4)
                    80+                                6,895 (0.3)
                    missing                            1,390 (5.2)
sex                 F                                249,190 (2.0)
                    M                                234,160 (1.9)
region              East                              88,155 (2.0)
                    East Midlands                     59,310 (1.8)
                    London                            59,910 (4.2)
                    North East                        13,280 (1.5)
                    North West                        14,010 (0.8)
                    South East                        23,375 (1.9)
                    South West                        31,675 (1.3)
                    West Midlands                     28,480 (3.5)
                    Yorkshire and The Humber          38,920 (1.4)
imd                 1 Most deprived                  127,890 (2.6)
                    2                                105,840 (2.1)
                    3                                 91,610 (1.8)
                    4                                 76,210 (1.6)
                    5 Least deprived                  59,985 (1.4)
                    Unknown                           21,815 (2.7)
dementia            False                            482,915 (2.0)
                    True                                 430 (0.3)
diabetes            False                            453,870 (2.1)
                    True                              29,475 (1.1)
hypertension        False                            472,020 (2.0)
                    True                              11,325 (0.7)
learning_disability False                            481,065 (2.0)
                    True                               2,285 (1.6)

                                             Mixed ethnicity primis 5  \
group               subgroup
all                 with records                        433,665 (1.8)
age_band            0-19                                138,820 (3.5)
                    20-29                                81,190 (2.7)
                    30-39                                85,260 (2.1)
                    40-49                                57,810 (1.8)
                    50-59                                36,870 (1.1)
                    60-69                                18,105 (0.7)
                    70-79                                 7,975 (0.4)
                    80+                                   6,650 (0.3)
                    missing                                 985 (3.7)
sex                 F                                   224,640 (1.8)
                    M                                   209,025 (1.7)
region              East                                 79,920 (1.8)
                    East Midlands                        51,670 (1.6)
                    London                               55,040 (3.8)
                    North East                           11,935 (1.3)
                    North West                           12,490 (0.8)
                    South East                           20,185 (1.6)
                    South West                           27,950 (1.1)
                    West Midlands                        24,510 (3.0)
                    Yorkshire and The Humber             35,225 (1.3)
imd                 1 Most deprived                     115,035 (2.3)
                    2                                    95,945 (1.9)
                    3                                    82,035 (1.6)
                    4                                    68,620 (1.4)
                    5 Least deprived                     52,820 (1.3)
                    Unknown                              19,215 (2.3)
dementia            False                               433,235 (1.8)
                    True                                    430 (0.3)
diabetes            False                               405,515 (1.8)
                    True                                 28,150 (1.1)
hypertension        False                               422,685 (1.8)
                    True                                 10,980 (0.7)
learning_disability False                               431,615 (1.8)
                    True                                  2,050 (1.4)

                                             Asian ethnicity 5  \
group               subgroup
all                 with records               2,194,055 (8.9)
age_band            0-19                        454,930 (11.4)
                    20-29                       338,065 (11.1)
                    30-39                       508,695 (12.7)
                    40-49                       401,000 (12.2)
                    50-59                        210,645 (6.6)
                    60-69                        138,500 (5.3)
                    70-79                         76,945 (3.4)
                    80+                           62,680 (2.7)
                    missing                        2,600 (9.7)
sex                 F                          1,063,570 (8.4)
                    M                          1,130,485 (9.4)
region              East                         289,095 (6.6)
                    East Midlands                310,760 (9.4)
                    London                      353,310 (24.5)
                    North East                    47,400 (5.3)
                    North West                    65,725 (4.0)
                    South East                    56,350 (4.6)
                    South West                    65,575 (2.6)
                    West Midlands               168,155 (20.6)
                    Yorkshire and The Humber    287,405 (10.6)
imd                 1 Most deprived             671,805 (13.5)
                    2                           588,455 (11.9)
                    3                            407,030 (8.0)
                    4                            249,265 (5.2)
                    5 Least deprived             174,390 (4.2)
                    Unknown                     103,105 (12.6)
dementia            False                      2,190,755 (8.9)
                    True                           3,300 (2.3)
diabetes            False                      1,867,615 (8.4)
                    True                        326,440 (12.4)
hypertension        False                      2,116,635 (9.1)
                    True                          77,420 (4.8)
learning_disability False                      2,184,745 (8.9)
                    True                           9,310 (6.5)

                                             Asian ethnicity new 5  \
group               subgroup
all                 with records                   2,239,570 (9.0)
age_band            0-19                            461,805 (11.6)
                    20-29                           345,210 (11.3)
                    30-39                           519,050 (13.0)
                    40-49                           410,945 (12.6)
                    50-59                            216,705 (6.7)
                    60-69                            141,265 (5.4)
                    70-79                             78,530 (3.5)
                    80+                               63,425 (2.7)
                    missing                            2,630 (9.8)
sex                 F                              1,090,035 (8.6)
                    M                              1,149,535 (9.5)
region              East                             294,720 (6.7)
                    East Midlands                    315,305 (9.6)
                    London                          363,150 (25.2)
                    North East                        48,000 (5.3)
                    North West                        67,010 (4.1)
                    South East                        58,585 (4.8)
                    South West                        67,955 (2.7)
                    West Midlands                   170,435 (20.8)
                    Yorkshire and The Humber        290,575 (10.7)
imd                 1 Most deprived                 682,605 (13.7)
                    2                               599,725 (12.2)
                    3                                415,420 (8.2)
                    4                                256,470 (5.4)
                    5 Least deprived                 179,905 (4.3)
                    Unknown                         105,440 (12.9)
dementia            False                          2,236,230 (9.1)
                    True                               3,340 (2.4)
diabetes            False                          1,908,220 (8.6)
                    True                            331,350 (12.6)
hypertension        False                          2,160,500 (9.3)
                    True                              79,070 (4.9)
learning_disability False                          2,230,155 (9.1)
                    True                               9,415 (6.5)

                                             Asian ethnicity primis 5  \
group               subgroup
all                 with records                      1,898,245 (7.7)
age_band            0-19                                388,275 (9.7)
                    20-29                               287,910 (9.4)
                    30-39                              439,200 (11.0)
                    40-49                              351,925 (10.7)
                    50-59                               186,905 (5.8)
                    60-69                               121,370 (4.6)

### Latest vs. Most Common

Overall 98% of the latest 6 group ethnicity matched the most frequent 6 group ethnicity. 99.3% (2022-SNOMED) of those with the most recent ethnicity ‘White’ also had the most frequent ethnicity ‘White’. Mixed was the least concordant with 77.0% of those with the most recent ethnicity ‘Mixed’ also had the most frequent ethnicity ‘Mixed’. 3.1% of those with latest ethnicity ‘Black’ also had the most frequent ethnicity ‘White’.

In [32]:
for definition in definitions:
    for suffix in suffixes:
        df_sum = pd.read_csv(f'../output/{output_path}/simple_latest_common_{definition}{suffix}_fullset.csv').set_index(definition)
        # sort rows by category index
        df_sum.columns = df_sum.columns.str.replace(definition + "_", "")
        df_sum.columns = df_sum.columns.str.lower()
        df_sum = df_sum.reindex(list(code_dict[definition].values()))
        
        df_counts = pd.DataFrame(
            np.diagonal(df_sum),
            index=df_sum.index,
        #   columns=[f"matching (n={np.diagonal(df_sum).sum()})"],
        )

        df_sum2 = df_sum.copy(deep=True)
        np.fill_diagonal(df_sum2.values, 0)
        df_diag = pd.DataFrame(
            df_sum2.sum(axis=1),
        )
        df_out = df_counts.merge(df_diag, right_index=True, left_index=True)
        columns=round(df_out.sum()/df_out.sum(axis=1).sum()*100,1)
        df_out.columns=[f"matching ({columns[0]}%)",f"not matching ({columns[1]}%)"]
        display(df_out)
        
        if code_dict != "":
            lowerlist = [x.lower() for x in (list(code_dict[definition].values()))]
            df_sum = df_sum[lowerlist]
        else:
            df_sum = df_sum.reindex(sorted(df_sum.columns), axis=1)

        # Combine count and percentage columns
        df_sum["population"]=df_sum.sum(axis = 1)
        for item in lowerlist:
            df_sum[item + "_pct"]= round(
                    (df_sum[item].div(df_sum["population"])) * 100, 1
                )
        
            df_sum[item] = (
                    df_sum[item].apply(lambda x: "{:,.0f}".format(x))
                    + " ("
                    + df_sum[item + "_pct"].astype(str)
                    + ")"
                )
        df_sum = df_sum[lowerlist]

        display(df_sum)
    # df_expanded = pd.read_csv(f'../output/{output_path}/tables/latest_common_expanded_{definition}.csv').set_index(definition)
    
    # display(df_expanded)

             matching (97.7%)  not matching (2.3%)
ethnicity_5
White              20,463,590              157,970
Mixed                 438,935              127,000
Asian               2,174,830               88,910
Black                 777,160               65,380
Other                 803,000              150,885

,white,mixed,asian,black,other
ethnicity_5,,,,,
White,"20,463,590 (99.2)","43,385 (0.2)","28,555 (0.1)","21,435 (0.1)","64,595 (0.3)"
Mixed,"57,240 (10.1)","438,935 (77.6)","18,085 (3.2)","33,480 (5.9)","18,195 (3.2)"
Asian,"25,760 (1.1)","15,350 (0.7)","2,174,830 (96.1)","5,585 (0.2)","42,215 (1.9)"
Black,"23,870 (2.8)","25,825 (3.1)","5,405 (0.6)","777,160 (92.2)","10,280 (1.2)"
Other,"80,740 (8.5)","16,990 (1.8)","42,195 (4.4)","10,960 (1.1)","803,000 (84.2)"

             matching (97.0%)  not matching (3.0%)
ethnicity_5
White               1,322,775               14,285
Mixed                  23,485               10,930
Asian                 171,805                7,490
Black                  53,870                5,805
Other                  36,030               11,890

,white,mixed,asian,black,other
ethnicity_5,,,,,
White,"1,322,775 (98.9)","3,975 (0.3)","2,720 (0.2)","1,810 (0.1)","5,780 (0.4)"
Mixed,"5,205 (15.1)","23,485 (68.2)","1,685 (4.9)","2,840 (8.3)","1,200 (3.5)"
Asian,"2,850 (1.6)","1,055 (0.6)","171,805 (95.8)",655 (0.4),"2,930 (1.6)"
Black,"2,590 (4.3)","1,705 (2.9)",620 (1.0),"53,870 (90.3)",890 (1.5)
Other,"5,910 (12.3)","1,165 (2.4)","3,990 (8.3)",825 (1.7),"36,030 (75.2)"

                 matching (97.9%)  not matching (2.1%)
ethnicity_new_5
White                  20,482,790              145,785
Mixed                     443,835              126,780
Asian                   2,224,215               80,785
Black                     781,205               63,610
Other                     694,955              118,290

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
White,"20,482,790 (99.3)","43,480 (0.2)","29,300 (0.1)","21,645 (0.1)","51,360 (0.2)"
Mixed,"58,535 (10.3)","443,835 (77.8)","19,120 (3.4)","34,170 (6.0)","14,955 (2.6)"
Asian,"26,575 (1.2)","15,920 (0.7)","2,224,215 (96.5)","5,720 (0.2)","32,570 (1.4)"
Black,"24,050 (2.8)","25,475 (3.0)","5,540 (0.7)","781,205 (92.5)","8,545 (1.0)"
Other,"65,195 (8.0)","13,535 (1.7)","30,520 (3.8)","9,040 (1.1)","694,955 (85.5)"

                 matching (97.6%)  not matching (2.4%)
ethnicity_new_5
White                   1,319,570                8,985
Mixed                      23,245               10,140
Asian                     172,145                5,500
Black                      53,580                4,945
Other                      21,045                9,385

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
White,"1,319,570 (99.3)","3,875 (0.3)","2,710 (0.2)","1,805 (0.1)",595 (0.0)
Mixed,"5,240 (15.7)","23,245 (69.6)","1,705 (5.1)","2,850 (8.5)",345 (1.0)
Asian,"2,890 (1.6)","1,055 (0.6)","172,145 (96.9)",655 (0.4),900 (0.5)
Black,"2,590 (4.4)","1,630 (2.8)",620 (1.1),"53,580 (91.6)",105 (0.2)
Other,"4,875 (16.0)",910 (3.0),"2,945 (9.7)",655 (2.2),"21,045 (69.2)"

                    matching (98.0%)  not matching (2.0%)
ethnicity_primis_5
White                     15,694,085              111,210
Mixed                        408,965               91,330
Asian                      1,888,365               56,565
Black                        606,890               46,270
Other                        664,325               89,120

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
White,"15,694,085 (99.3)","32,390 (0.2)","21,965 (0.1)","14,980 (0.1)","41,875 (0.3)"
Mixed,"41,995 (8.4)","408,965 (81.7)","13,965 (2.8)","23,215 (4.6)","12,155 (2.4)"
Asian,"20,335 (1.0)","11,315 (0.6)","1,888,365 (97.1)","3,360 (0.2)","21,555 (1.1)"
Black,"17,160 (2.6)","19,460 (3.0)","3,395 (0.5)","606,890 (92.9)","6,255 (1.0)"
Other,"46,635 (6.2)","11,600 (1.5)","24,065 (3.2)","6,820 (0.9)","664,325 (88.2)"

                    matching (97.8%)  not matching (2.2%)
ethnicity_primis_5
White                      1,194,405                7,625
Mixed                         24,370                8,270
Asian                        168,905                4,260
Black                         49,850                3,755
Other                          4,380                8,860

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
White,"1,194,405 (99.4)","3,330 (0.3)","2,395 (0.2)","1,570 (0.1)",330 (0.0)
Mixed,"4,220 (12.9)","24,370 (74.7)","1,385 (4.2)","2,520 (7.7)",145 (0.4)
Asian,"2,525 (1.5)",890 (0.5),"168,905 (97.5)",560 (0.3),285 (0.2)
Black,"1,985 (3.7)","1,250 (2.3)",440 (0.8),"49,850 (93.0)",80 (0.1)
Other,"4,630 (35.0)",860 (6.5),"2,690 (20.3)",680 (5.1),"4,380 (33.1)"

### State Change

Patients whose latest recorded ethnicity were categorised as Mixed were most likely to have a discordant ethnicity recording (32%) with 16.7% of the 358,055 patients with the latest recording of Mixed ethnicity also having a recording of White ethnicity. Surprisingly 5.5% of those with the latest recorded ethnicity categorised as Black were also had a recorded ethnicity of White

In [33]:
for definition in definitions:
    for suffix in suffixes:
        df_state_change = pd.read_csv(f'../output/{output_path}/simple_state_change_{definition}{suffix}_fullset.csv').set_index(definition)
        df_state_change.columns = df_state_change.columns.str.replace(definition + "_", "")
        #resort rows
        df_state_change = df_state_change.reindex(list(code_dict[definition].values()))
        df_state_change = df_state_change.reset_index()
        
        df_state_change[definition]=df_state_change[definition]+": " +df_state_change["n"].apply(lambda x: "{:,.0f}".format(x))
        df_state_change = df_state_change.set_index(definition)
        for item in lowerlist:
            df_state_change[item + "_pct"]= round(
                    (df_state_change[item].div(df_state_change["n"])) * 100, 1
                )
        
            df_state_change[item] = (
                    df_state_change[item].apply(lambda x: "{:,.0f}".format(x))
                    + " ("
                    + df_state_change[item + "_pct"].astype(str)
                    + ")"
                )
        df_state_change=df_state_change[lowerlist]
        display(df_state_change)

,white,mixed,asian,black,other
ethnicity_5,,,,,
"White: 20,501,205","20,501,205 (100.0)","75,805 (0.4)","38,020 (0.2)","31,425 (0.2)","127,420 (0.6)"
"Mixed: 479,120","75,745 (15.8)","479,120 (100.0)","22,315 (4.7)","42,155 (8.8)","25,030 (5.2)"
"Asian: 2,194,055","49,810 (2.3)","30,605 (1.4)","2,194,055 (100.0)","10,490 (0.5)","70,045 (3.2)"
"Black: 792,185","39,705 (5.0)","50,615 (6.4)","8,250 (1.0)","792,185 (100.0)","17,915 (2.3)"
"Other: 850,520","96,315 (11.3)","26,725 (3.1)","57,595 (6.8)","14,680 (1.7)","850,520 (100.0)"

,white,mixed,asian,black,other
ethnicity_5,,,,,
"White: 1,331,970","1,331,970 (100.0)","8,720 (0.7)","4,635 (0.3)","3,685 (0.3)","15,540 (1.2)"
"Mixed: 31,705","7,735 (24.4)","31,705 (100.0)","2,360 (7.4)","4,095 (12.9)","2,335 (7.4)"
"Asian: 176,690","6,430 (3.6)","3,610 (2.0)","176,690 (100.0)","1,655 (0.9)","7,535 (4.3)"
"Black: 57,740","4,700 (8.1)","4,950 (8.6)","1,155 (2.0)","57,740 (100.0)","2,070 (3.6)"
"Other: 45,400","8,145 (17.9)","2,350 (5.2)","5,695 (12.5)","1,420 (3.1)","45,400 (100.0)"

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
"White: 20,514,355","20,514,355 (100.0)","76,245 (0.4)","38,795 (0.2)","31,500 (0.2)","102,725 (0.5)"
"Mixed: 483,350","76,310 (15.8)","483,350 (100.0)","23,150 (4.8)","42,300 (8.8)","20,250 (4.2)"
"Asian: 2,239,570","51,035 (2.3)","31,840 (1.4)","2,239,570 (100.0)","10,655 (0.5)","52,180 (2.3)"
"Black: 794,645","39,780 (5.0)","50,760 (6.4)","8,365 (1.1)","794,645 (100.0)","14,650 (1.8)"
"Other: 730,800","75,770 (10.4)","20,675 (2.8)","41,295 (5.7)","11,835 (1.6)","730,800 (100.0)"

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
"White: 1,325,605","1,325,605 (100.0)","8,560 (0.6)","4,575 (0.3)","3,605 (0.3)","7,105 (0.5)"
"Mixed: 31,040","7,610 (24.5)","31,040 (100.0)","2,340 (7.5)","4,040 (13.0)","1,190 (3.8)"
"Asian: 175,665","6,385 (3.6)","3,575 (2.0)","175,665 (100.0)","1,625 (0.9)","4,125 (2.3)"
"Black: 56,900","4,645 (8.2)","4,875 (8.6)","1,125 (2.0)","56,900 (100.0)",885 (1.6)
"Other: 28,600","5,605 (19.6)","1,570 (5.5)","3,820 (13.4)",900 (3.1),"28,600 (100.0)"

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
"White: 15,715,345","15,715,345 (100.0)","50,385 (0.3)","27,765 (0.2)","19,970 (0.1)","72,300 (0.5)"
"Mixed: 433,665","53,200 (12.3)","433,665 (100.0)","16,460 (3.8)","27,850 (6.4)","15,420 (3.6)"
"Asian: 1,898,245","35,540 (1.9)","20,000 (1.1)","1,898,245 (100.0)","5,435 (0.3)","32,365 (1.7)"
"Black: 616,020","25,215 (4.1)","32,715 (5.3)","4,895 (0.8)","616,020 (100.0)","9,825 (1.6)"
"Other: 688,810","54,270 (7.9)","16,450 (2.4)","31,025 (4.5)","8,700 (1.3)","688,810 (100.0)"

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
"White: 1,199,425","1,199,425 (100.0)","6,275 (0.5)","3,730 (0.3)","2,605 (0.2)","5,325 (0.4)"
"Mixed: 30,370","5,980 (19.7)","30,370 (100.0)","1,845 (6.1)","3,210 (10.6)",710 (2.3)
"Asian: 171,540","4,965 (2.9)","2,505 (1.5)","171,540 (100.0)","1,070 (0.6)","2,265 (1.3)"
"Black: 52,420","3,275 (6.2)","3,365 (6.4)",770 (1.5),"52,420 (100.0)",620 (1.2)
"Other: 10,865","5,060 (46.6)","1,230 (11.3)","3,085 (28.4)",850 (7.8),"10,865 (100.0)"