# Identifying Ethnicity in OpenSAFELY-TPP
This short report describes how ethnicity can be identified in the OpenSAFELY-TPP database, and the strengths and weaknesses of the methods. This is a living document that will be updated to reflect changes to the OpenSAFELY-TPP database and the patient records within.

## OpenSAFELY
OpenSAFELY is an analytics platform for conducting analyses on Electronic Health Records inside the secure environment where the records are held. This has multiple benefits: 

* We don't transport large volumes of potentially disclosive pseudonymised patient data outside of the secure environments for analysis
* Analyses can run in near real-time as records are ready for analysis as soon as they appear in the secure environment
* All infrastructure and analysis code is stored in GitHub repositories, which are open for security review, scientific review, and re-use

A key feature of OpenSAFELY is the use of study definitions, which are formal specifications of the datasets to be generated from the OpenSAFELY database. This takes care of much of the complex EHR data wrangling required to create a dataset in an analysis-ready format. It also creates a library of standardised and validated variable definitions that can be deployed consistently across multiple projects. 

The purpose of this report is to describe all such variables that relate to BMI, their relative strengths and weaknesses, in what scenarios they are best deployed. It will also describe potential future definitions that have not yet been implemented.

## Available Records
OpenSAFELY-TPP runs inside TPP’s data centre which contains the primary care records for all patients registered at practices using TPP’s SystmOne Clinical Information System. This data centre also imports external datasets from other sources, including A&E attendances and hospital admissions from NHS Digital’s Secondary Use Service, and death registrations from the ONS. More information on available data sources can be found within the OpenSAFELY documentation.

In [13]:
import sys
print(sys.path)

['c:\\Users\\candrews\\Documents\\GitHub\\ethnicity-short-data-report\\notebooks_jupyter', 'c:\\Users\\candrews\\anaconda3\\python39.zip', 'c:\\Users\\candrews\\anaconda3\\DLLs', 'c:\\Users\\candrews\\anaconda3\\lib', 'c:\\Users\\candrews\\anaconda3', '', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.9.egg', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages\\win32', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages\\win32\\lib', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages\\Pythonwin', 'c:\\Users\\candrews\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\candrews\\.ipython']

In [25]:
import os
import pandas as pd
import numpy as np
from itertools import product
from IPython.display import display, Markdown, Image

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)
pd.options.mode.chained_assignment = None 
pd.options.display.float_format = '{:,.0f}'.format

In [26]:

def local_patient_counts(
    definitions, output_path, code_dict="", categories=False, missing=False,
):
    import pandas as pd

    suffix = "_filled"
    overlap = "all_filled"
    if missing == True:
        suffix = "_missing"
        overlap = "all_missing"
    if categories:
        df_append = pd.read_csv(
            f"../output/{output_path}/simple_patient_counts_categories.csv"
        ).set_index(["group", "subgroup"])
        # ensure definitions[n] in code_dict[definitions[n]] below refers to one of the definitions of interest
        definitions = [
            f"{category}_{definition}"
            for category, definition in product(
                code_dict[definitions[1]].values(), definitions
            )
        ]
    else:
        df_append = pd.read_csv(
            f"../output/{output_path}/simple_patient_counts.csv"
        ).set_index(["group", "subgroup"])

    for definition in definitions:
        if missing:
            df_append[definition + suffix] = (
                df_append["population"] - df_append[definition + "_filled"]
            )
        df_append[definition + "_pct"] = round(
            (df_append[definition + suffix].div(df_append["population"])) * 100, 1
        )
        df_append[overlap + "_pct"] = round(
            (df_append[overlap].div(df_append["population"])) * 100, 1
        )

        # Combine count and percentage columns
        df_append[definition] = (
            df_append[definition + suffix].apply(lambda x: "{:,.0f}".format(x))
            + " ("
            + df_append[definition + "_pct"].astype(str)
            + ")"
        )
        df_append = df_append.drop(columns=[definition + suffix, definition + "_pct"])
    df_append[overlap] = (
        df_append[overlap].apply(lambda x: "{:,.0f}".format(x))
        + " ("
        + df_append[overlap + "_pct"].astype(str)
        + ")"
    )
    df_append = df_append.drop(columns=[overlap + "_pct"])
    df_patient_counts = df_append[definitions + [overlap] + ["population"]]
    # Final redaction step
    df_patient_counts = df_patient_counts.replace(np.nan, "-")
    df_patient_counts = df_patient_counts.replace("nan (nan)", "- (-)")
    df_patient_counts.columns = df_patient_counts.columns.str.replace("_", " ")
    display(df_patient_counts)

In [27]:
### CONFIGURE ###
definitions = ['ethnicity_5', 'ethnicity_new_5', 'ethnicity_primis_5']
covariates = ['_age_band','_sex','_region','_imd','_dementia','_diabetes','_hypertension','_learning_disability']
output_path = 'released/output'
suffixes = ['','_missing']

code_dict = {
    "imd": {
        0: "Unknown",
        1: "1 Most deprived",
        2: "2",
        3: "3",
        4: "4",
        5: "5 Least deprived",
    },
    "ethnicity_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
    "ethnicity_new_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
    "ethnicity_primis_5": {1: "White", 2: "Mixed", 3: "Asian", 4: "Black", 5: "Other"},
}

## Results

### Count of Patients

In [28]:
local_patient_counts(
         definitions,  output_path
    )

                                                    ethnicity 5  \
group               subgroup
all                 with records              18,853,950 (76.1)
age_band            0-19                       3,390,325 (62.3)
                    20-29                      2,205,355 (71.7)
                    30-39                      2,901,825 (81.6)
                    40-49                      2,641,115 (82.8)
                    50-59                      2,762,175 (81.4)
                    60-69                      2,213,925 (81.9)
                    70-79                      1,785,160 (82.3)
                    80+                          954,065 (77.1)
                    missing                               - (-)
sex                 F                          9,619,845 (77.8)
                    M                          9,234,105 (74.4)
region              East                       4,361,920 (75.7)
                    East Midlands              3,277,165 (76.8)
                    London                     1,438,890 (80.2)
                    North East                   888,450 (76.3)
                    North West                 1,627,310 (76.2)
                    South East                 1,220,375 (74.2)
                    South West                 2,497,475 (73.4)
                    West Midlands                814,610 (80.6)
                    Yorkshire and The Humber   2,698,510 (75.9)
imd                 1 Most deprived            3,903,835 (75.6)
                    2                          3,696,000 (76.5)
                    3                          3,863,720 (76.8)
                    4                          3,694,240 (76.0)
                    5 Least deprived           3,291,395 (75.2)
                    Unknown                      404,755 (79.1)
dementia            False                     18,818,930 (76.1)
                    True                          35,020 (80.4)
diabetes            False                     16,895,155 (75.3)
                    True                       1,958,795 (83.4)
hypertension        False                     17,322,090 (75.5)
                    True                       1,531,860 (83.3)
learning_disability False                     18,737,755 (76.1)
                    True                         116,195 (82.5)

                                                ethnicity new 5  \
group               subgroup
all                 with records              18,592,275 (75.1)
age_band            0-19                       3,343,035 (61.4)
                    20-29                      2,174,105 (70.7)
                    30-39                      2,855,865 (80.3)
                    40-49                      2,598,215 (81.4)
                    50-59                      2,725,415 (80.3)
                    60-69                      2,187,485 (80.9)
                    70-79                      1,764,745 (81.4)
                    80+                          943,410 (76.3)
                    missing                               - (-)
sex                 F                          9,487,295 (76.7)
                    M                          9,104,980 (73.4)
region              East                       4,301,470 (74.7)
                    East Midlands              3,221,550 (75.5)
                    London                     1,411,975 (78.7)
                    North East                   881,255 (75.6)
                    North West                 1,608,700 (75.4)
                    South East                 1,202,820 (73.2)
                    South West                 2,470,365 (72.6)
                    West Midlands                797,520 (78.9)
                    Yorkshire and The Humber   2,667,605 (75.0)
imd                 1 Most deprived            3,840,595 (74.4)
                    2                          3,641,875 (75.4)
                    3                          3,812,585 (75.8)
                    4                          3,644,785 (74.9)
                    5 Least deprived           3,252,710 (74.3)
                    Unknown                      399,730 (78.1)
dementia            False                     18,557,735 (75.0)
                    True                          34,545 (79.3)
diabetes            False                     16,661,445 (74.3)
                    True                       1,930,830 (82.2)
hypertension        False                     17,078,130 (74.5)
                    True                       1,514,145 (82.4)
learning_disability False                     18,478,555 (75.0)
                    True                         113,720 (80.7)

                                             ethnicity primis 5  \
group               subgroup
all                 with records              14,750,720 (59.5)
age_band            0-19                       2,549,525 (46.8)
                    20-29                      1,743,815 (56.7)
                    30-39                      2,324,640 (65.3)
                    40-49                      2,106,740 (66.0)
                    50-59                      2,182,860 (64.3)
                    60-69                      1,738,795 (64.3)
                    70-79                      1,391,405 (64.1)
                    80+                          712,940 (57.6)
                    missing                               - (-)
sex                 F                          7,577,125 (61.3)
                    M                          7,173,595 (57.8)
region              East                       3,384,445 (58.8)
                    East Midlands              2,516,480 (59.0)
                    London                     1,264,125 (70.5)
                    North East                   739,540 (63.5)
                    North West                 1,194,840 (56.0)
                    South East                   940,760 (57.2)
                    South West                 1,894,035 (55.6)
                    West Midlands                617,060 (61.0)
                    Yorkshire and The Humber   2,174,960 (61.2)
imd                 1 Most deprived            3,094,730 (60.0)
                    2                          2,921,980 (60.5)
                    3                          3,017,830 (60.0)
                    4                          2,871,645 (59.0)
                    5 Least deprived           2,520,300 (57.6)
                    Unknown                      324,235 (63.4)
dementia            False                     14,723,500 (59.5)
                    True                          27,225 (62.5)
diabetes            False                     13,196,610 (58.9)
                    True                       1,554,110 (66.1)
hypertension        False                     13,557,820 (59.1)
                    True                       1,192,905 (64.9)
learning_disability False                     14,656,045 (59.5)
                    True                          94,680 (67.2)

                                                     all filled  population
group               subgroup
all                 with records              14,581,555 (58.9)  24,772,720
age_band            0-19                       2,522,430 (46.3)   5,443,105
                    20-29                      1,724,100 (56.0)   3,076,605
                    30-39                      2,293,945 (64.5)   3,557,485
                    40-49                      2,078,585 (65.1)   3,191,130
                    50-59                      2,158,330 (63.6)   3,395,235
                    60-69                      1,720,795 (63.7)   2,702,765
                    70-79                      1,377,315 (63.5)   2,169,175
                    80+                          706,050 (57.1)   1,237,215
                    missing                               - (-)           5
sex                 F                          7,489,960 (60.6)  12,365,750
                    M                          7,091,595 (57.2)  12,406,970
region              East                       3,348,045 (58.1)   5,758,595
                    East Midlands              2,479,745 (58.1)   4,267,545
                    London                     1,245,445 (69.4)   1,794,155
                    North East                   734,320 (63.0)   1,165,140
                    North West                 1,184,680 (55.5)   2,134,340
                    South East                   929,385 (56.5)   1,643,850
                    South West                 1,876,690 (55.1)   3,403,495
                    West Midlands                605,790 (59.9)   1,010,975
                    Yorkshire and The Humber   2,153,155 (60.5)   3,556,375
imd                 1 Most deprived            3,055,370 (59.2)   5,161,260
                    2                          2,886,700 (59.8)   4,828,310
                    3                          2,983,490 (59.3)   5,032,145
                    4                          2,839,370 (58.4)   4,863,430
                    5 Least deprived           2,495,820 (57.0)   4,376,070
                    Unknown                      320,805 (62.7)     511,505
dementia            False                     14,554,665 (58.9)  24,729,155
                    True                          26,890 (61.7)      43,560
diabetes            False                     13,046,880 (58.2)  22,422,735
                    True                       1,534,675 (65.3)   2,349,980
hypertension        False                     13,400,470 (58.4)  22,934,100
                    True                       1,181,085 (64.2)   1,838,620
learning_disability False                     14,488,775 (58.8)  24,631,850
                    True                          92,780 (65.9)     140,870

### Count of Missings

In [29]:
local_patient_counts(
         definitions,  output_path, missing= True
    )

                                                   ethnicity 5  \
group               subgroup
all                 with records              5,918,770 (23.9)
age_band            0-19                      2,052,780 (37.7)
                    20-29                       871,250 (28.3)
                    30-39                       655,660 (18.4)
                    40-49                       550,015 (17.2)
                    50-59                       633,060 (18.6)
                    60-69                       488,840 (18.1)
                    70-79                       384,015 (17.7)
                    80+                         283,150 (22.9)
                    missing                              - (-)
sex                 F                         2,745,905 (22.2)
                    M                         3,172,865 (25.6)
region              East                      1,396,675 (24.3)
                    East Midlands               990,380 (23.2)
                    London                      355,265 (19.8)
                    North East                  276,690 (23.7)
                    North West                  507,030 (23.8)
                    South East                  423,475 (25.8)
                    South West                  906,020 (26.6)
                    West Midlands               196,365 (19.4)
                    Yorkshire and The Humber    857,865 (24.1)
imd                 1 Most deprived           1,257,425 (24.4)
                    2                         1,132,310 (23.5)
                    3                         1,168,425 (23.2)
                    4                         1,169,190 (24.0)
                    5 Least deprived          1,084,675 (24.8)
                    Unknown                     106,750 (20.9)
dementia            False                     5,910,225 (23.9)
                    True                          8,540 (19.6)
diabetes            False                     5,527,580 (24.7)
                    True                        391,185 (16.6)
hypertension        False                     5,612,010 (24.5)
                    True                        306,760 (16.7)
learning_disability False                     5,894,095 (23.9)
                    True                         24,675 (17.5)

                                               ethnicity new 5  \
group               subgroup
all                 with records              6,180,445 (24.9)
age_band            0-19                      2,100,070 (38.6)
                    20-29                       902,500 (29.3)
                    30-39                       701,620 (19.7)
                    40-49                       592,915 (18.6)
                    50-59                       669,820 (19.7)
                    60-69                       515,280 (19.1)
                    70-79                       404,430 (18.6)
                    80+                         293,805 (23.7)
                    missing                              - (-)
sex                 F                         2,878,455 (23.3)
                    M                         3,301,990 (26.6)
region              East                      1,457,125 (25.3)
                    East Midlands             1,045,995 (24.5)
                    London                      382,180 (21.3)
                    North East                  283,885 (24.4)
                    North West                  525,640 (24.6)
                    South East                  441,030 (26.8)
                    South West                  933,130 (27.4)
                    West Midlands               213,455 (21.1)
                    Yorkshire and The Humber    888,770 (25.0)
imd                 1 Most deprived           1,320,665 (25.6)
                    2                         1,186,435 (24.6)
                    3                         1,219,560 (24.2)
                    4                         1,218,645 (25.1)
                    5 Least deprived          1,123,360 (25.7)
                    Unknown                     111,775 (21.9)
dementia            False                     6,171,420 (25.0)
                    True                          9,015 (20.7)
diabetes            False                     5,761,290 (25.7)
                    True                        419,150 (17.8)
hypertension        False                     5,855,970 (25.5)
                    True                        324,475 (17.6)
learning_disability False                     6,153,295 (25.0)
                    True                         27,150 (19.3)

                                             ethnicity primis 5  \
group               subgroup
all                 with records              10,022,000 (40.5)
age_band            0-19                       2,893,580 (53.2)
                    20-29                      1,332,790 (43.3)
                    30-39                      1,232,845 (34.7)
                    40-49                      1,084,390 (34.0)
                    50-59                      1,212,375 (35.7)
                    60-69                        963,970 (35.7)
                    70-79                        777,770 (35.9)
                    80+                          524,275 (42.4)
                    missing                               - (-)
sex                 F                          4,788,625 (38.7)
                    M                          5,233,375 (42.2)
region              East                       2,374,150 (41.2)
                    East Midlands              1,751,065 (41.0)
                    London                       530,030 (29.5)
                    North East                   425,600 (36.5)
                    North West                   939,500 (44.0)
                    South East                   703,090 (42.8)
                    South West                 1,509,460 (44.4)
                    West Midlands                393,915 (39.0)
                    Yorkshire and The Humber   1,381,415 (38.8)
imd                 1 Most deprived            2,066,530 (40.0)
                    2                          1,906,330 (39.5)
                    3                          2,014,315 (40.0)
                    4                          1,991,785 (41.0)
                    5 Least deprived           1,855,770 (42.4)
                    Unknown                      187,270 (36.6)
dementia            False                     10,005,655 (40.5)
                    True                          16,335 (37.5)
diabetes            False                      9,226,125 (41.1)
                    True                         795,870 (33.9)
hypertension        False                      9,376,280 (40.9)
                    True                         645,715 (35.1)
learning_disability False                      9,975,805 (40.5)
                    True                          46,190 (32.8)

                                                   all missing  population
group               subgroup
all                 with records              5,918,770 (23.9)  24,772,720
age_band            0-19                      2,052,785 (37.7)   5,443,105
                    20-29                       871,250 (28.3)   3,076,605
                    30-39                       655,655 (18.4)   3,557,485
                    40-49                       550,015 (17.2)   3,191,130
                    50-59                       633,060 (18.6)   3,395,235
                    60-69                       488,840 (18.1)   2,702,765
                    70-79                       384,020 (17.7)   2,169,175
                    80+                         283,145 (22.9)   1,237,215
                    missing                              - (-)           5
sex                 F                         2,745,905 (22.2)  12,365,750
                    M                         3,172,865 (25.6)  12,406,970
region              East                      1,396,675 (24.3)   5,758,595
                    East Midlands               990,380 (23.2)   4,267,545
                    London                      355,265 (19.8)   1,794,155
                    North East                  276,690 (23.7)   1,165,140
                    North West                  507,030 (23.8)   2,134,340
                    South East                  423,475 (25.8)   1,643,850
                    South West                  906,020 (26.6)   3,403,495
                    West Midlands               196,365 (19.4)   1,010,975
                    Yorkshire and The Humber    857,865 (24.1)   3,556,375
imd                 1 Most deprived           1,257,425 (24.4)   5,161,260
                    2                         1,132,310 (23.5)   4,828,310
                    3                         1,168,425 (23.2)   5,032,145
                    4                         1,169,185 (24.0)   4,863,430
                    5 Least deprived          1,084,675 (24.8)   4,376,070
                    Unknown                     106,750 (20.9)     511,505
dementia            False                     5,910,225 (23.9)  24,729,155
                    True                          8,545 (19.6)      43,560
diabetes            False                     5,527,585 (24.7)  22,422,735
                    True                        391,190 (16.6)   2,349,980
hypertension        False                     5,612,010 (24.5)  22,934,100
                    True                        306,760 (16.7)   1,838,620
learning_disability False                     5,894,095 (23.9)  24,631,850
                    True                         24,680 (17.5)     140,870

### Count by Category

In [30]:
local_patient_counts(
         definitions,  output_path,code_dict, categories=True,missing=False
    )

                                              White ethnicity 5  \
group               subgroup
all                 with records              15,744,455 (63.6)
age_band            0-19                       2,648,150 (48.7)
                    20-29                      1,693,715 (55.1)
                    30-39                      2,271,350 (63.8)
                    40-49                      2,095,685 (65.7)
                    50-59                      2,417,855 (71.2)
                    60-69                      2,017,065 (74.6)
                    70-79                      1,694,105 (78.1)
                    80+                          906,520 (73.3)
                    missing                               - (-)
sex                 F                          8,095,195 (65.5)
                    M                          7,649,255 (61.7)
region              East                       3,734,360 (64.8)
                    East Midlands              2,735,760 (64.1)
                    London                       758,410 (42.3)
                    North East                   786,415 (67.5)
                    North West                 1,505,305 (70.5)
                    South East                 1,083,390 (65.9)
                    South West                 2,336,030 (68.6)
                    West Midlands                524,810 (51.9)
                    Yorkshire and The Humber   2,255,900 (63.4)
imd                 1 Most deprived            2,892,105 (56.0)
                    2                          2,910,375 (60.3)
                    3                          3,303,340 (65.6)
                    4                          3,298,635 (67.8)
                    5 Least deprived           3,009,930 (68.8)
                    Unknown                      330,070 (64.5)
dementia            False                     15,711,680 (63.5)
                    True                          32,775 (75.2)
diabetes            False                     14,185,675 (63.3)
                    True                       1,558,780 (66.3)
hypertension        False                     14,347,135 (62.6)
                    True                       1,397,320 (76.0)
learning_disability False                     15,642,195 (63.5)
                    True                         102,255 (72.6)

                                             White ethnicity new 5  \
group               subgroup
all                 with records                 15,582,325 (62.9)
age_band            0-19                          2,622,960 (48.2)
                    20-29                         1,678,160 (54.5)
                    30-39                         2,247,770 (63.2)
                    40-49                         2,071,690 (64.9)
                    50-59                         2,391,820 (70.4)
                    60-69                         1,996,360 (73.9)
                    70-79                         1,676,415 (77.3)
                    80+                             897,150 (72.5)
                    missing                                  - (-)
sex                 F                             8,011,115 (64.8)
                    M                             7,571,215 (61.0)
region              East                          3,697,380 (64.2)
                    East Midlands                 2,696,260 (63.2)
                    London                          750,355 (41.8)
                    North East                      782,215 (67.1)
                    North West                    1,490,935 (69.9)
                    South East                    1,071,850 (65.2)
                    South West                    2,316,530 (68.1)
                    West Midlands                   516,370 (51.1)
                    Yorkshire and The Humber      2,236,485 (62.9)
imd                 1 Most deprived               2,861,670 (55.4)
                    2                             2,879,155 (59.6)
                    3                             3,269,235 (65.0)
                    4                             3,263,280 (67.1)
                    5 Least deprived              2,981,755 (68.1)
                    Unknown                         327,235 (64.0)
dementia            False                        15,549,960 (62.9)
                    True                             32,365 (74.3)
diabetes            False                        14,041,610 (62.6)
                    True                          1,540,715 (65.6)
hypertension        False                        14,198,925 (61.9)
                    True                          1,383,405 (75.2)
learning_disability False                        15,482,085 (62.9)
                    True                            100,240 (71.2)

                                             White ethnicity primis 5  \
group               subgroup
all                 with records                    12,115,495 (48.9)
age_band            0-19                             1,936,315 (35.6)
                    20-29                            1,310,935 (42.6)
                    30-39                            1,787,685 (50.3)
                    40-49                            1,637,130 (51.3)
                    50-59                            1,887,020 (55.6)
                    60-69                            1,570,050 (58.1)
                    70-79                            1,313,550 (60.6)
                    80+                                672,815 (54.4)
                    missing                                     - (-)
sex                 F                                6,279,640 (50.8)
                    M                                5,835,855 (47.0)
region              East                             2,865,655 (49.8)
                    East Midlands                    2,071,000 (48.5)
                    London                             664,355 (37.0)
                    North East                         648,955 (55.7)
                    North West                       1,099,020 (51.5)
                    South East                         827,850 (50.4)
                    South West                       1,760,340 (51.7)
                    West Midlands                      380,750 (37.7)
                    Yorkshire and The Humber         1,777,670 (50.0)
imd                 1 Most deprived                  2,234,620 (43.3)
                    2                                2,252,570 (46.7)
                    3                                2,541,795 (50.5)
                    4                                2,537,985 (52.2)
                    5 Least deprived                 2,287,890 (52.3)
                    Unknown                            260,635 (51.0)
dementia            False                           12,090,210 (48.9)
                    True                                25,290 (58.1)
diabetes            False                           10,910,700 (48.7)
                    True                             1,204,800 (51.3)
hypertension        False                           11,037,120 (48.1)
                    True                             1,078,375 (58.7)
learning_disability False                           12,032,880 (48.9)
                    True                                82,615 (58.6)

                                             Mixed ethnicity 5  \
group               subgroup
all                 with records                 352,710 (1.4)
age_band            0-19                         130,995 (2.4)
                    20-29                         59,925 (1.9)
                    30-39                         61,795 (1.7)
                    40-49                         45,080 (1.4)
                    50-59                         30,950 (0.9)
                    60-69                         14,845 (0.5)
                    70-79                          6,060 (0.3)
                    80+                            3,055 (0.2)
                    missing                              - (-)
sex                 F                            178,725 (1.4)
                    M                            173,985 (1.4)
region              East                          87,380 (1.5)
                    East Midlands                 58,465 (1.4)
                    London                        58,940 (3.3)
                    North East                    12,920 (1.1)
                    North West                    13,720 (0.6)
                    South East                    22,875 (1.4)
                    South West                    30,970 (0.9)
                    West Midlands                 28,165 (2.8)
                    Yorkshire and The Humber      38,335 (1.1)
imd                 1 Most deprived               98,330 (1.9)
                    2                             76,325 (1.6)
                    3                             66,105 (1.3)
                    4                             56,685 (1.2)
                    5 Least deprived              45,130 (1.0)
                    Unknown                       10,130 (2.0)
dementia            False                        352,555 (1.4)
                    True                             155 (0.4)
diabetes            False                        329,655 (1.5)
                    True                          23,050 (1.0)
hypertension        False                        342,105 (1.5)
                    True                          10,605 (0.6)
learning_disability False                        350,830 (1.4)
                    True                           1,880 (1.3)

                                             Mixed ethnicity new 5  \
group               subgroup
all                 with records                     348,070 (1.4)
age_band            0-19                             129,435 (2.4)
                    20-29                             59,230 (1.9)
                    30-39                             60,925 (1.7)
                    40-49                             44,365 (1.4)
                    50-59                             30,505 (0.9)
                    60-69                             14,630 (0.5)
                    70-79                              5,965 (0.3)
                    80+                                3,010 (0.2)
                    missing                                  - (-)
sex                 F                                176,375 (1.4)
                    M                                171,695 (1.4)
region              East                              86,340 (1.5)
                    East Midlands                     57,665 (1.4)
                    London                            58,085 (3.2)
                    North East                        12,810 (1.1)
                    North West                        13,545 (0.6)
                    South East                        22,585 (1.4)
                    South West                        30,495 (0.9)
                    West Midlands                     27,735 (2.7)
                    Yorkshire and The Humber          37,880 (1.1)
imd                 1 Most deprived                   97,125 (1.9)
                    2                                 75,340 (1.6)
                    3                                 65,170 (1.3)
                    4                                 55,900 (1.1)
                    5 Least deprived                  44,520 (1.0)
                    Unknown                           10,015 (2.0)
dementia            False                            347,915 (1.4)
                    True                                 150 (0.3)
diabetes            False                            325,355 (1.5)
                    True                              22,715 (1.0)
hypertension        False                            337,605 (1.5)
                    True                              10,465 (0.6)
learning_disability False                            346,230 (1.4)
                    True                               1,840 (1.3)

                                             Mixed ethnicity primis 5  \
group               subgroup
all                 with records                        319,045 (1.3)
age_band            0-19                                112,240 (2.1)
                    20-29                                54,115 (1.8)
                    30-39                                57,270 (1.6)
                    40-49                                42,875 (1.3)
                    50-59                                29,485 (0.9)
                    60-69                                14,305 (0.5)
                    70-79                                 5,795 (0.3)
                    80+                                   2,965 (0.2)
                    missing                                     - (-)
sex                 F                                   162,645 (1.3)
                    M                                   156,405 (1.3)
region              East                                 79,985 (1.4)
                    East Midlands                        51,475 (1.2)
                    London                               54,925 (3.1)
                    North East                           11,855 (1.0)
                    North West                           12,375 (0.6)
                    South East                           20,105 (1.2)
                    South West                           27,850 (0.8)
                    West Midlands                        24,450 (2.4)
                    Yorkshire and The Humber             35,135 (1.0)
imd                 1 Most deprived                      88,960 (1.7)
                    2                                    69,840 (1.4)
                    3                                    59,480 (1.2)
                    4                                    51,485 (1.1)
                    5 Least deprived                     40,050 (0.9)
                    Unknown                               9,230 (1.8)
dementia            False                               318,910 (1.3)
                    True                                    140 (0.3)
diabetes            False                               296,805 (1.3)
                    True                                 22,240 (0.9)
hypertension        False                               308,680 (1.3)
                    True                                 10,365 (0.6)
learning_disability False                               317,365 (1.3)
                    True                                  1,685 (1.2)

                                             Asian ethnicity 5  \
group               subgroup
all                 with records               1,639,170 (6.6)
age_band            0-19                         369,240 (6.8)
                    20-29                        247,195 (8.0)
                    30-39                        349,755 (9.8)
                    40-49                        302,910 (9.5)
                    50-59                        173,880 (5.1)
                    60-69                        112,360 (4.2)
                    70-79                         56,020 (2.6)
                    80+                           27,810 (2.2)
                    missing                              - (-)
sex                 F                            791,890 (6.4)
                    M                            847,275 (6.8)
region              East                         287,865 (5.0)
                    East Midlands                309,735 (7.3)
                    London                      352,225 (19.6)
                    North East                    47,050 (4.0)
                    North West                    65,150 (3.1)
                    South East                    55,815 (3.4)
                    South West                    65,055 (1.9)
                    West Midlands               167,225 (16.5)
                    Yorkshire and The Humber     286,695 (8.1)
imd                 1 Most deprived             543,970 (10.5)
                    2                            443,525 (9.2)
                    3                            300,140 (6.0)
                    4                            187,325 (3.9)
                    5 Least deprived             132,590 (3.0)
                    Unknown                       31,625 (6.2)
dementia            False                      1,637,890 (6.6)
                    True                           1,280 (2.9)
diabetes            False                      1,373,820 (6.1)
                    True                        265,345 (11.3)
hypertension        False                      1,565,715 (6.8)
                    True                          73,455 (4.0)
learning_disability False                      1,631,015 (6.6)
                    True                           8,155 (5.8)

                                             Asian ethnicity new 5  \
group               subgroup
all                 with records                   1,647,140 (6.6)
age_band            0-19                             370,135 (6.8)
                    20-29                            248,555 (8.1)
                    30-39                            351,135 (9.9)
                    40-49                            304,805 (9.6)
                    50-59                            175,655 (5.2)
                    60-69                            112,770 (4.2)
                    70-79                             56,325 (2.6)
                    80+                               27,760 (2.2)
                    missing                                  - (-)
sex                 F                                798,170 (6.5)
                    M                                848,970 (6.8)
region              East                             289,395 (5.0)
                    East Midlands                    309,690 (7.3)
                    London                          357,685 (19.9)
                    North East                        47,110 (4.0)
                    North West                        65,480 (3.1)
                    South East                        57,070 (3.5)
                    South West                        66,345 (1.9)
                    West Midlands                   165,270 (16.3)
                    Yorkshire and The Humber         286,745 (8.1)
imd                 1 Most deprived                 543,725 (10.5)
                    2                                445,975 (9.2)
                    3                                302,015 (6.0)
                    4                                189,445 (3.9)
                    5 Least deprived                 134,040 (3.1)
                    Unknown                           31,935 (6.2)
dementia            False                          1,645,875 (6.7)
                    True                               1,265 (2.9)
diabetes            False                          1,381,740 (6.2)
                    True                            265,400 (11.3)
hypertension        False                          1,573,265 (6.9)
                    True                              73,875 (4.0)
learning_disability False                          1,639,075 (6.7)
                    True                               8,065 (5.7)

                                             Asian ethnicity primis 5  \
group               subgroup
all                 with records                      1,426,990 (5.8)
age_band            0-19                                315,835 (5.8)
                    20-29                               210,825 (6.9)
                    30-39                               303,130 (8.5)
                    40-49                               268,320 (8.4)
                    50-59                               155,570 (4.6)
                    60-69                                99,470 (3.7)

### Overlapping Definitions
Idea: Use an upset plot

In [31]:
#display(Image(f"../output/{output_path}/../figures/heatmap.png"))

### Latest vs. Most Common

In [32]:
for definition in definitions:
    for suffix in suffixes:
        df_sum = pd.read_csv(f'../output/{output_path}/simple_latest_common_{definition}{suffix}.csv').set_index(definition)
        # sort rows by category index
        df_sum.columns = df_sum.columns.str.replace(definition + "_", "")
        df_sum.columns = df_sum.columns.str.lower()
        df_sum = df_sum.reindex(list(code_dict[definition].values()))
        
        df_counts = pd.DataFrame(
            np.diagonal(df_sum),
            index=df_sum.index,
        #   columns=[f"matching (n={np.diagonal(df_sum).sum()})"],
        )

        df_sum2 = df_sum.copy(deep=True)
        np.fill_diagonal(df_sum2.values, 0)
        df_diag = pd.DataFrame(
            df_sum2.sum(axis=1),
        )
        df_out = df_counts.merge(df_diag, right_index=True, left_index=True)
        columns=round(df_out.sum()/df_out.sum(axis=1).sum()*100,1)
        df_out.columns=[f"matching ({columns[0]}%)",f"not matching ({columns[1]}%)"]
        display(df_out)
        
        if code_dict != "":
            lowerlist = [x.lower() for x in (list(code_dict[definition].values()))]
            df_sum = df_sum[lowerlist]
        else:
            df_sum = df_sum.reindex(sorted(df_sum.columns), axis=1)

        # Combine count and percentage columns
        df_sum["population"]=df_sum.sum(axis = 1)
        for item in lowerlist:
            df_sum[item + "_pct"]= round(
                    (df_sum[item].div(df_sum["population"])) * 100, 1
                )
        
            df_sum[item] = (
                    df_sum[item].apply(lambda x: "{:,.0f}".format(x))
                    + " ("
                    + df_sum[item + "_pct"].astype(str)
                    + ")"
                )
        df_sum = df_sum[lowerlist]

        display(df_sum)
    # df_expanded = pd.read_csv(f'../output/{output_path}/tables/latest_common_expanded_{definition}.csv').set_index(definition)
    
    # display(df_expanded)

             matching (97.7%)  not matching (2.3%)
ethnicity_5
White              15,715,175              120,825
Mixed                 321,470               97,355
Asian               1,624,315               67,770
Black                 555,610               50,225
Other                 512,885              113,930

,white,mixed,asian,black,other
ethnicity_5,,,,,
White,"15,715,175 (99.2)","33,505 (0.2)","22,835 (0.1)","16,475 (0.1)","48,010 (0.3)"
Mixed,"44,600 (10.6)","321,470 (76.8)","13,805 (3.3)","25,375 (6.1)","13,575 (3.2)"
Asian,"20,355 (1.2)","11,710 (0.7)","1,624,315 (96.0)","4,315 (0.3)","31,390 (1.9)"
Black,"18,820 (3.1)","19,625 (3.2)","4,135 (0.7)","555,610 (91.7)","7,645 (1.3)"
Other,"61,085 (9.7)","12,765 (2.0)","31,875 (5.1)","8,205 (1.3)","512,885 (81.8)"

             matching (96.8%)  not matching (3.2%)
ethnicity_5
White                 970,885               10,660
Mixed                  16,145                8,425
Asian                 123,900                5,740
Black                  38,935                4,555
Other                  19,730                9,160

,white,mixed,asian,black,other
ethnicity_5,,,,,
White,"970,885 (98.9)","3,040 (0.3)","2,155 (0.2)","1,400 (0.1)","4,065 (0.4)"
Mixed,"4,090 (16.6)","16,145 (65.7)","1,270 (5.2)","2,185 (8.9)",880 (3.6)
Asian,"2,290 (1.8)",805 (0.6),"123,900 (95.6)",510 (0.4),"2,135 (1.6)"
Black,"2,090 (4.8)","1,310 (3.0)",495 (1.1),"38,935 (89.5)",660 (1.5)
Other,"4,580 (15.9)",910 (3.1),"3,025 (10.5)",645 (2.2),"19,730 (68.3)"

                 matching (97.9%)  not matching (2.1%)
ethnicity_new_5
White                  15,557,865              109,605
Mixed                     317,765               95,425
Asian                   1,635,455               60,285
Black                     550,055               48,125
Other                     426,920               86,965

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
White,"15,557,865 (99.3)","32,935 (0.2)","23,020 (0.1)","16,375 (0.1)","37,275 (0.2)"
Mixed,"44,800 (10.8)","317,765 (76.9)","14,285 (3.5)","25,565 (6.2)","10,775 (2.6)"
Asian,"20,695 (1.2)","11,915 (0.7)","1,635,455 (96.4)","4,330 (0.3)","23,345 (1.4)"
Black,"18,710 (3.1)","19,100 (3.2)","4,155 (0.7)","550,055 (92.0)","6,160 (1.0)"
Other,"48,475 (9.4)","9,825 (1.9)","22,085 (4.3)","6,580 (1.3)","426,920 (83.1)"

                 matching (97.1%)  not matching (2.9%)
ethnicity_new_5
White                     962,340                8,935
Mixed                      16,000                8,250
Asian                     123,845                5,210
Black                      38,755                4,290
Other                      17,965                8,260

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
White,"962,340 (99.1)","2,985 (0.3)","2,185 (0.2)","1,410 (0.1)","2,355 (0.2)"
Mixed,"4,145 (17.1)","16,000 (66.0)","1,300 (5.4)","2,195 (9.1)",610 (2.5)
Asian,"2,340 (1.8)",835 (0.6),"123,845 (96.0)",520 (0.4),"1,515 (1.2)"
Black,"2,085 (4.8)","1,265 (2.9)",500 (1.2),"38,755 (90.0)",440 (1.0)
Other,"4,310 (16.4)",825 (3.1),"2,485 (9.5)",640 (2.4),"17,965 (68.5)"

                    matching (98.0%)  not matching (2.0%)
ethnicity_primis_5
White                     12,098,680               86,070
Mixed                        299,750               70,385
Asian                      1,419,295               43,705
Black                        437,190               36,055
Other                        425,400               67,605

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
White,"12,098,680 (99.3)","25,215 (0.2)","17,645 (0.1)","11,535 (0.1)","31,675 (0.3)"
Mixed,"32,760 (8.9)","299,750 (81.0)","10,765 (2.9)","17,695 (4.8)","9,165 (2.5)"
Asian,"16,245 (1.1)","8,785 (0.6)","1,419,295 (97.0)","2,560 (0.2)","16,115 (1.1)"
Black,"13,630 (2.9)","15,065 (3.2)","2,630 (0.6)","437,190 (92.4)","4,730 (1.0)"
Other,"35,640 (7.2)","8,775 (1.8)","18,040 (3.7)","5,150 (1.0)","425,400 (86.3)"

                    matching (97.6%)  not matching (2.4%)
ethnicity_primis_5
White                        875,420                5,930
Mixed                         16,705                6,345
Asian                        121,565                3,320
Black                         36,050                2,985
Other                          3,165                6,945

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
White,"875,420 (99.3)","2,575 (0.3)","1,900 (0.2)","1,230 (0.1)",225 (0.0)
Mixed,"3,295 (14.3)","16,705 (72.5)","1,045 (4.5)","1,905 (8.3)",100 (0.4)
Asian,"2,020 (1.6)",690 (0.6),"121,565 (97.3)",415 (0.3),195 (0.2)
Black,"1,605 (4.1)",975 (2.5),350 (0.9),"36,050 (92.4)",55 (0.1)
Other,"3,650 (36.1)",680 (6.7),"2,080 (20.6)",535 (5.3),"3,165 (31.3)"

### State Change

In [33]:
for definition in definitions:
    for suffix in suffixes:
        df_state_change = pd.read_csv(f'../output/{output_path}/simple_state_change_{definition}{suffix}.csv').set_index(definition)
        df_state_change.columns = df_state_change.columns.str.replace(definition + "_", "")
        #resort rows
        df_state_change = df_state_change.reindex(list(code_dict[definition].values()))
        df_state_change = df_state_change.reset_index()
        
        df_state_change[definition]=df_state_change[definition]+": " +df_state_change["n"].apply(lambda x: "{:,.0f}".format(x))
        df_state_change = df_state_change.set_index(definition)
        for item in lowerlist:
            df_state_change[item + "_pct"]= round(
                    (df_state_change[item].div(df_state_change["n"])) * 100, 1
                )
        
            df_state_change[item] = (
                    df_state_change[item].apply(lambda x: "{:,.0f}".format(x))
                    + " ("
                    + df_state_change[item + "_pct"].astype(str)
                    + ")"
                )
        df_state_change=df_state_change[lowerlist]
        display(df_state_change)

,white,mixed,asian,black,other
ethnicity_5,,,,,
"White: 15,744,455","15,744,455 (100.0)","59,000 (0.4)","30,170 (0.2)","24,255 (0.2)","96,905 (0.6)"
"Mixed: 352,710","59,045 (16.7)","352,710 (100.0)","17,065 (4.8)","32,075 (9.1)","18,840 (5.3)"
"Asian: 1,639,170","39,805 (2.4)","23,815 (1.5)","1,639,170 (100.0)","8,260 (0.5)","53,430 (3.3)"
"Black: 567,540","31,275 (5.5)","39,040 (6.9)","6,365 (1.1)","567,540 (100.0)","13,500 (2.4)"
"Other: 550,080","73,060 (13.3)","20,330 (3.7)","43,700 (7.9)","11,075 (2.0)","550,080 (100.0)"

,white,mixed,asian,black,other
ethnicity_5,,,,,
"White: 977,745","977,745 (100.0)","6,610 (0.7)","3,590 (0.4)","2,840 (0.3)","11,520 (1.2)"
"Mixed: 22,545","5,990 (26.6)","22,545 (100.0)","1,765 (7.8)","3,130 (13.9)","1,725 (7.7)"
"Asian: 127,645","5,150 (4.0)","2,750 (2.2)","127,645 (100.0)","1,295 (1.0)","5,590 (4.4)"
"Black: 41,990","3,740 (8.9)","3,755 (8.9)",910 (2.2),"41,990 (100.0)","1,525 (3.6)"
"Other: 27,015","6,155 (22.8)","1,830 (6.8)","4,300 (15.9)","1,090 (4.0)","27,015 (100.0)"

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
"White: 15,582,325","15,582,325 (100.0)","58,365 (0.4)","30,245 (0.2)","23,950 (0.2)","76,590 (0.5)"
"Mixed: 348,070","58,435 (16.8)","348,070 (100.0)","17,300 (5.0)","31,765 (9.1)","14,745 (4.2)"
"Asian: 1,647,140","40,245 (2.4)","24,330 (1.5)","1,647,140 (100.0)","8,250 (0.5)","38,360 (2.3)"
"Black: 560,600","30,940 (5.5)","38,735 (6.9)","6,340 (1.1)","560,600 (100.0)","10,785 (1.9)"
"Other: 454,140","56,640 (12.5)","15,260 (3.4)","30,175 (6.6)","8,700 (1.9)","454,140 (100.0)"

,white,mixed,asian,black,other
ethnicity_new_5,,,,,
"White: 967,210","967,210 (100.0)","6,535 (0.7)","3,580 (0.4)","2,805 (0.3)","8,920 (0.9)"
"Mixed: 22,125","5,920 (26.8)","22,125 (100.0)","1,765 (8.0)","3,095 (14.0)","1,360 (6.1)"
"Asian: 126,775","5,150 (4.1)","2,770 (2.2)","126,775 (100.0)","1,295 (1.0)","4,495 (3.5)"
"Black: 41,430","3,690 (8.9)","3,720 (9.0)",905 (2.2),"41,430 (100.0)","1,265 (3.1)"
"Other: 23,860","5,120 (21.5)","1,455 (6.1)","3,335 (14.0)",910 (3.8),"23,860 (100.0)"

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
"White: 12,115,495","12,115,495 (100.0)","39,275 (0.3)","22,145 (0.2)","15,425 (0.1)","55,380 (0.5)"
"Mixed: 319,045","41,430 (13.0)","319,045 (100.0)","12,685 (4.0)","21,250 (6.7)","11,665 (3.7)"
"Asian: 1,426,990","28,540 (2.0)","15,680 (1.1)","1,426,990 (100.0)","4,215 (0.3)","24,545 (1.7)"
"Black: 444,565","19,915 (4.5)","25,435 (5.7)","3,835 (0.9)","444,565 (100.0)","7,435 (1.7)"
"Other: 444,625","41,685 (9.4)","12,580 (2.8)","23,455 (5.3)","6,630 (1.5)","444,625 (100.0)"

,white,mixed,asian,black,other
ethnicity_primis_5,,,,,
"White: 879,355","879,355 (100.0)","4,760 (0.5)","2,920 (0.3)","2,010 (0.2)","4,135 (0.5)"
"Mixed: 21,405","4,610 (21.5)","21,405 (100.0)","1,380 (6.4)","2,415 (11.3)",525 (2.5)
"Asian: 123,645","3,965 (3.2)","1,935 (1.6)","123,645 (100.0)",810 (0.7),"1,635 (1.3)"
"Black: 38,130","2,605 (6.8)","2,560 (6.7)",620 (1.6),"38,130 (100.0)",430 (1.1)
"Other: 8,265","4,010 (48.5)",990 (12.0),"2,400 (29.0)",670 (8.1),"8,265 (100.0)"